@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
  background-size: cover;
}

main {
  flex-grow: 1;
}

i:hover {
  cursor: pointer;
}

.card {
  background-color: rgba(250, 250, 250, 0.5)
}

#authorText {
  opacity: 0;
}

#quoteText:hover + #authorText {
  transition: opacity 0.3s ease-in;
  opacity: 1;
}
